.modal-body {
  padding: 20px;

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    label {
      font-size: 13px;
      font-weight: 500;
      margin-bottom: 6px;
    }

    input,
    select {
      height: 40px;
      padding: 0 12px;
      border-radius: 8px;
      border: 1px solid #ddd;
      font-size: 14px;
      outline: none;

      &:focus {
        border-color: #000;
      }
    }
  }
}


.row-inline {
  display: flex;
  gap: 20px; // separación horizontal
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column; // 👈 label arriba, select abajo
}

.field label {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 6px;
}

.field select {
  height: 40px;
  padding: 0 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
}
