<div class="row g-3 mb-4 bg-white">
  <div class="card">

    <p-treeTable [value]="treeData" [paginator]="true" [rows]="10" styleClass="p-datatable-sm">

      <!-- HEADER -->
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 20%;">Date / Location</th>
          <th class="text-end">VENTA DESDE LINGA </th>
          <th class="text-end">DEPOSITO AL BANCO </th>
          <th class="text-end">Fees</th>
        </tr>
      </ng-template>

      <!-- BODY -->
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData">

        <tr [ngClass]="{
        'detail-row': rowData.isDetail,
        'location-row': rowData.isLocation
      }">

          <!-- 🔥 COLUMNA TREE -->
          <td>
            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>

            <!-- NIVEL 1 -->
            <span *ngIf="!rowData.isDetail" class="fw-bold">
              {{ rowData.fecha }}
            </span>

            <!-- NIVEL 2 -->
            <span *ngIf="rowData.isDetail && !rowData.isLocation" class="fw-semibold">
              {{ rowData.tipo_col_name }}
            </span>

            <!-- NIVEL 3 -->
            <span *ngIf="rowData.isLocation" class="text-muted">
              {{ rowData.location_name }}
            </span>
          </td>

          <!-- OPENING -->
          <td class="text-end">
            <i [ngClass]="getIconClassPrice(rowData.conceptos, 10)" class="icon-small ms-1"></i>
            <span [ngClass]="getColorPrice(rowData.conceptos, 10)">
              {{ mostrarImporte(rowData.conceptos, 10) | txtsigno: "$" }}
            </span>

          </td>

          <!-- NET SALES -->
          <td class="text-end">
            <i [ngClass]="getIconClassPrice(rowData.conceptos, 11)" class="icon-small ms-1"></i>
            <span [ngClass]="getColorPrice(rowData.conceptos, 11)">
              {{ mostrarImporte(rowData.conceptos, 11) | txtsigno: "$" }}
            </span>

          </td>

          <!-- DEPOSITS -->
          <td class="text-end">
            <i [ngClass]="getIconClassPrice(rowData.conceptos, 12)" class="icon-small ms-1"></i>
            <span [ngClass]="getColorPrice(rowData.conceptos, 12)">
              {{ mostrarImporte(rowData.conceptos, 12) | txtsigno: "$" }}
            </span>

          </td>



        </tr>

      </ng-template>

    </p-treeTable>

  </div>

</div>
