/* filas */
.row-in {
  background-color: #e9f7ef;
}

.row-out {
  background-color: #fdecea;
}

/* badge */
.badge {
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 600;
}

.bg-success {
  background-color: #28a745;
  color: white;
}

.bg-danger {
  background-color: #dc3545;
  color: white;
}

.chart-container {
  width: 50%;
  height: 400px;
}

:host ::ng-deep .p-chart {
  width: 100% !important;
}
