<div class="container-fluid py-3 px-0" style="width: 100%">
  <div class="row g-3 mb-4 bg-white">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
          <h4 class="fw-bold mb-1">Supplies</h4>
          <p class="text-muted mb-0">Manage your supplies</p>
        </div>
        <button class="btn btn-primary" (click)="openCreate()">
          Add Supply
        </button>
      </div>
    </div>

    <div class="col-12">
      <div class="card shadow-sm">
        <div class="card-body">
          <div *ngIf="loading" class="text-muted py-3">Loading...</div>

          <app-insumos-lista
            (edit)="openEdit($event)"
            [insumos]="insumo"
          ></app-insumos-lista>
        </div>
      </div>
    </div>
  </div>
</div>

<app-insumos-upd-ins
  *ngIf="showAddInsumoModal"
  [mode]="modalMode"
  [insumo]="selectedInsunmos"
  (close)="closeModal()"
  (submit)="handleSubmit($event)"
  [location]="locations"
>
</app-insumos-upd-ins>
