<table class="table align-middle">
  <thead class="table-light">
    <tr>
      <th>Status</th>
      <th>Name</th>
      <th>Account Number</th>
      <th class="text-end">Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let loc of locations">
      <td>
        <span class="badge" [ngClass]="{
            'bg-success': loc.location_status === 'A',
            'bg-secondary': loc.location_status !== 'A'
          }">
          {{ loc.location_status === 'A' ? 'Active' : 'Inactive' }}
        </span>
      </td>
      <td>{{ loc.location_name }}</td>
      <td>{{ loc.location_AccountNumber || "—" }}</td>

      <td class="text-end">
        <button class="btn btn-sm btn-danger" (click)="onEdit(loc)">
          Edit
        </button>
      </td>
    </tr>

    <tr *ngIf="!locations.length">
      <td colspan="3" class="text-center text-muted py-4">
        No locations found
      </td>
    </tr>
  </tbody>
</table>
