<p-table
  [value]="insumos"
  responsiveLayout="scroll"
  styleClass="p-datatable-sm"
  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[10, 20, 50]"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
>
  <!-- Header -->
  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>Status</th>
      <th>Ingredient Name</th>
      <th>Description</th>
      <th>Group</th>
      <th>Supplier</th>
      <th>Unit</th>
      <th class="text-end">Stock</th>

      <th class="text-end">Actions</th>
    </tr>
  </ng-template>

  <!-- Body -->
  <ng-template pTemplate="body" let-item>
    <tr>
      <!-- Id -->
      <td>
        {{ item.insumo_id }}
      </td>

      <!-- Status -->
      <td>
        <p-tag
          [severity]="item.estado === 'A' ? 'success' : 'secondary'"
          [value]="item.estado === 'A' ? 'Active' : 'Inactive'"
        ></p-tag>
      </td>

      <!-- Name -->
      <td>
        {{ item.nombre }}
      </td>

      <!-- Description -->
      <td>
        {{ item.descripcion || "—" }}
      </td>

      <!-- Group -->
      <td>
        {{ item.grupo || "—" }}
      </td>

      <!-- Supplier -->
      <td>
        {{ item.proveedor?.nombre || "—" }}
      </td>

      <!-- Unit -->
      <td>
        {{ item.unidad?.abreviatura || item.unidad?.nombre || "—" }}
      </td>

      <!-- Stock -->
      <td class="text-end">
        {{ item.cantidad ?? 0 }}
      </td>

      <!-- Actions -->
      <td class="text-end">
        <button class="btn btn-sm btn-info m-1" (click)="onEdit(item)">
          View
        </button>
        <!-- <button class="btn btn-sm btn-warning m-1">Edit</button>
        <button class="btn btn-sm btn-danger m-1">Delete</button> -->

        <!-- <button
          pButton
          type="button"
          icon="pi pi-trash"
          class="p-button-sm p-button-danger"
          (click)="onDelete(item)"
        ></button> -->
      </td>
    </tr>
  </ng-template>

  <!-- Empty -->
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="10" class="text-center text-muted py-4">
        No ingredients found
      </td>
    </tr>
  </ng-template>
</p-table>
