<div class="modal-backdrop">
  <div class="modal-container" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h2>{{ "Add New Order Purchase" }}</h2>
      <button class="close-btn" (click)="onClose()">✕</button>
    </div>

    <div class="modal-body">
      <!-- ID (hidden) -->
      <input type="hidden" [(ngModel)]="formData.compra_order_id" />
      <input type="hidden" [(ngModel)]="formData.compra_order_estado" />

      <div class="mb-4">
        <div class="row g-3 mb-3">
          <div class="col-6 col-md-3">
            <label class="form-label fw-semibold">Date</label>
            <p-datepicker
              [(ngModel)]="formData.fecha"
              [showIcon]="true"
              dateFormat="yy-mm-dd"
              styleClass="w-100"
              inputStyleClass="w-100"
            ></p-datepicker>
          </div>

          <div class="col-6 col-md-3">
            <label class="form-label fw-semibold">Reference</label>
            <input
              type="text"
              class="form-control"
              pInputText
              [(ngModel)]="formData.compra_orden_referencia"
            />
          </div>

          <div class="col-6 col-md-3">
            <label class="form-label fw-semibold">User</label>
            <input
              type="text"
              class="form-control"
              [value]="
                (user?.user_name || '') + ' ' + (user?.user_apellido || '')
              "
              disabled
            />
          </div>

          <div class="col-6 col-md-3">
            <label class="form-label fw-semibold">Location</label>
            <select
              class="form-select"
              [(ngModel)]="formData.location_id"
              disabled
            >
              <option [ngValue]="0">Select locations</option>
              <option *ngFor="let loc of locations" [value]="loc.location_id">
                {{ loc.location_name }}
              </option>
            </select>
          </div>
        </div>

        <div class="row g-3">
          <div class="col-12">
            <label class="form-label fw-semibold">Note</label>
            <textarea
              class="form-control"
              rows="2"
              [(ngModel)]="formData.detalle"
              placeholder="Optional notes..."
            ></textarea>
          </div>
        </div>
      </div>

      <div class="d-flex align-items-center justify-content-between mb-1">
        <h3 class="mb-0">Details</h3>

        <div class="d-flex gap-2">
          <!-- <button
            pButton
            type="button"
            icon="pi pi-file-pdf"
            label="PDF"
            class="p-button-danger p-button-sm"
            (click)="exportToPdf()"
          ></button> -->
          <button
            pButton
            label="Add Row"
            icon="pi pi-plus"
            class="p-button-primary p-button-sm"
            (click)="addRow()"
          ></button>
        </div>
      </div>
      <hr />
      <p-table
        [value]="items"
        editMode="row"
        styleClass="w-100"
        [tableStyle]="{ 'table-layout': 'fixed' }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4%">#</th>
            <th style="width: 46%">Product</th>
            <th style="width: 16%">Qty</th>
            <th style="width: 13%">Price</th>
            <th style="width: 13%">Total</th>
            <th style="width: 8%"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row let-i="rowIndex">
          <tr>
            <td>{{ i + 1 }}</td>
            <td class="c1">
              <p-dropdown
                [options]="cInsumo"
                optionLabel="nombreCompleto"
                optionValue="insumo_id"
                [autoZIndex]="true"
                [baseZIndex]="10000"
                [(ngModel)]="row.insumo_id"
                placeholder="Select Product"
                class="w-100"
                styleClass="w-100"
                appendTo="body"
                [filter]="true"
                (onChange)="onInsumoChange($event.value, row)"
              >
              </p-dropdown>
            </td>
            <td>
              <div class="d-flex gap-2 align-items-center">
                <p-inputNumber
                  [(ngModel)]="row.cantidad"
                  [showButtons]="true"
                  mode="decimal"
                  [minFractionDigits]="0"
                  [maxFractionDigits]="0"
                  [min]="1"
                  [inputStyle]="{ width: '7rem' }"
                  (onInput)="calcularTotal(row)"
                >
                </p-inputNumber>

                <input
                  type="hidden"
                  [value]="row.unidad_id"
                  disabled="true"
                  style="width: 4rem; text-align: center"
                />
              </div>
            </td>
            <td>
              <p-inputNumber
                [(ngModel)]="row.precio"
                [showButtons]="true"
                mode="decimal"
                [minFractionDigits]="2"
                [maxFractionDigits]="2"
                [min]="0.01"
                [inputStyle]="{ width: '7rem' }"
                (onInput)="calcularTotal(row)"
              >
              </p-inputNumber>
            </td>
            <td>
              <p-inputNumber
                [(ngModel)]="row.total"
                [showButtons]="true"
                mode="decimal"
                [minFractionDigits]="2"
                [maxFractionDigits]="2"
                [disabled]="true"
                [min]="1"
                [inputStyle]="{ width: '7rem' }"
              >
              </p-inputNumber>
            </td>
            <td>
              <button
                pButton
                icon="pi pi-trash"
                class="p-button-danger p-button-sm"
                (click)="removeRow(i)"
              ></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr *ngIf="items.length > 0">
            <td colspan="4" class="text-end fw-bold">Total</td>
            <td class="fw-bold">
              {{ formData.total | number: "1.2-2" }}
            </td>
            <td></td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="modal-footer">
      <button class="btn btn-secondary" (click)="onClose()">Cancel</button>
      <button class="btn btn-primary" (click)="onSubmit()">
        {{ "Create" }}
      </button>
    </div>
  </div>
</div>
