<div class="container-fluid py-3 px-0" style="width: 100%;">

  <div class="page">
    <h2 class="title">Purchase Management</h2>
    <p class="subtitle">Register and manage purchase records, including suppliers, products, quantities, and
      total amounts</p>

  </div>

  <div class="row g-3 mb-4 bg-white">

    <!-- Date range -->
    <div class="col-12 col-md-6">
      <label class="filter-label d-block mb-1">
        <i class="pi pi-calendar"></i> Date Range
      </label>

      <p-datepicker [(ngModel)]="dateRange" selectionMode="range" dateFormat="dd/mm/yy" [showIcon]="true"
        [readonlyInput]="true" class="w-100" (ngModelChange)="onLocationsChangeDate($event)">
      </p-datepicker>


    </div>


    <!-- Date range -->
    <div class="col-12 col-md-6">

      <label class="filter-label d-block mb-1">
        <i class="pi pi-calendar"></i> Date Range
      </label>
      <button class="btn btn-primary" (click)="openCreate()">Add New Purchase</button>

    </div>

  </div>


  <app-purchase-upd-ins *ngIf="showAddLocationModal" [mode]="modalMode" (close)="closeModal()"
    (submit)="handleSubmit($event)" [compras]="selectedItem"></app-purchase-upd-ins>


  <app-purchase-list (edit)="openEdit($event)" (delete)="delete($event)" [compras]="compras"></app-purchase-list>


</div>
