<div class="container-fluid py-3 px-0" style="width: 100%">
  <div class="row g-3 mb-4 bg-white">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
          <h4 class="fw-bold mb-1">Groups</h4>
          <p class="text-muted mb-0">View and manage all your groups in one place</p>
        </div>

        <button class="btn btn-primary" (click)="openCreate()">
          Add Groups
        </button>
      </div>
    </div>

    <div class="col-12">
      <div *ngIf="loading" class="text-muted py-3">Loading...</div>

      <app-group-list (edit)="openEdit($event)" [conversiones]="conversiones"
        (remove)="Delete($event)"></app-group-list>
    </div>
  </div>
</div>

<app-group-up-ins *ngIf="showModal" [mode]="modalMode" [conversion]="selectedConversion" (close)="closeModal()"
  (submit)="handleSubmit($event)" [insumosOptions]="insumosOptions"
  [unidadesOptions]="unidadesOptions"></app-group-up-ins>
