<p-toast></p-toast>

<p-dialog
  header="Cambiar contraseña"
  [(visible)]="visible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: '420px' }"
  (onHide)="close()"
>
  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="field">
      <label>Contraseña actual</label>
      <p-password
        formControlName="currentPassword"
        [toggleMask]="true"
        [feedback]="false"
        placeholder="Ingresa tu contraseña actual"
        styleClass="w-100"
      ></p-password>

      <small class="err" *ngIf="isInvalid('currentPassword')">
        La contraseña actual es obligatoria.
      </small>
    </div>

    <div class="field">
      <label>Nueva contraseña</label>
      <p-password
        formControlName="newPassword"
        [toggleMask]="true"
        [feedback]="true"
        promptLabel="Ingresa contraseña"
        weakLabel="Débil"
        mediumLabel="Media"
        strongLabel="Fuerte"
        placeholder="Mínimo 8 caracteres"
        styleClass="w-100"
      ></p-password>

      <small class="err" *ngIf="isInvalid('newPassword')">
        La nueva contraseña es obligatoria (mín. 8 caracteres).
      </small>
    </div>

    <div class="field">
      <label>Confirmar nueva contraseña</label>
      <p-password
        formControlName="confirmNewPassword"
        [toggleMask]="true"
        [feedback]="false"
        placeholder="Repite la nueva contraseña"
        styleClass="w-100"
      ></p-password>

      <small class="err" *ngIf="isInvalid('confirmNewPassword')">
        Debes confirmar la nueva contraseña.
      </small>

      <small
        class="err"
        *ngIf="form.errors?.['passwordsMismatch'] && form.touched"
      >
        Las contraseñas no coinciden.
      </small>
    </div>

    <div class="actions">
      <button
        pButton
        type="button"
        label="Cancelar"
        class="p-button-text"
        (click)="close()"
        [disabled]="loading"
      ></button>

      <button
        pButton
        type="submit"
        label="Guardar"
        icon="pi pi-check"
        [loading]="loading"
        [disabled]="loading || form.invalid"
      ></button>
    </div>
  </form>
</p-dialog>
