.text-green-500 {
  color: #22c55e; // verde bonito
}

.text-red-500 {
  color: #ef4444; // rojo bonito
}

.text-gray-500 {
  color: #6b7280;
}

.icon-small {
  font-size: 0.5rem;
  /* prueba 0.7 - 0.9 */
}

.container {
  margin: 0px;
  max-width: 100% !important;
}

.item {
  width: 150%;
  /* Cambiar tamaño del scroll */
}

/* Inline-block */
.inline {
  vertical-align: middle;
  overflow-x: scroll;
}

.inline-item {
  display: inline-block;
  vertical-align: middle;
}


/* Flex */
.flex {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}

.flex-item {
  flex: 0 0 auto;
}


/* Fecha (nivel 1) → limpio */
:host ::ng-deep .p-treetable .p-treetable-tbody>tr.row-date {
  background-color: #ffffff !important;
  font-weight: 600;
}

/* Location (nivel 2) → gris muy suave */
:host ::ng-deep .p-treetable .p-treetable-tbody>tr.row-location {
  background-color: #f8fafc !important;
  /* gris ultra light */
}

/* Detail (nivel 3) → leve diferencia */
:host ::ng-deep .p-treetable .p-treetable-tbody>tr.row-detail {
  background-color: #fdfefe !important;
  /* casi blanco */
}

