<div class="row g-3 mb-4 bg-white">
  <div class="card">

    <p-table [value]="compraDetalle" dataKey="compra_order_id" [tableStyle]="{ 'min-width': '60rem' }"
      [expandedRowKeys]="expandedRows" (onRowExpand)="onRowExpand($event)" (onRowCollapse)="onRowCollapse($event)">
      <ng-template #header>
        <tr>
          <th style="width: 5rem"></th>
          <th>Id Order</th>
          <th>Reference Id</th>
          <th>Date</th>
          <th>items</th>
          <th>Total</th>
          <th>User</th>
          <th>Notes</th>
          <th>Status</th>
          <th class="col-actions"></th>
        </tr>
      </ng-template>
      <ng-template #body let-product let-expanded="expanded">
        <tr>
          <td>
            <p-button type="button" pRipple [pRowToggler]="product" [text]="true" severity="secondary" [rounded]="true"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
          </td>
          <td class="col-date">{{ product.compra_order_id }}</td>

          <td>
            {{ product.compra_orden_referencia || "---" }}
          </td>

          <td>
            {{ product.fecha }}
          </td>

          <td>
            {{ product.precio | txtsigno: "$" }}
          </td>
          <td>
            {{ product.total | txtsigno: "$" }}
          </td>

          <td>
            {{ product.created_user_order?.user_name }}
            {{ product.created_user_order?.user_apellido }}
          </td>

          <td>
            {{ product.detalle || "---" }}
          </td>

          <td>
            {{
            product.compra_order_estado == 1
            ? "Submitted"
            : "Completed"
            }}
          </td>

          <td class="col-actions text-end">
            <button *ngIf=" product.compra_order_estado == 1" class="btn btn-sm btn-secondary m-1"
              (click)="onComplete(product)">
              Add Purchase
            </button>
            <button *ngIf=" product.compra_order_estado == 1" class="btn btn-sm btn-danger m-1"
              (click)="onDelete(product)">
              Delete
            </button>
          </td>
        </tr>
      </ng-template>
      <ng-template #expandedrow let-product>
        <tr>
          <td colspan="9">
            <div class="p-4">
              <h5>Orders for {{ product.compra_id }}</h5>
              <p-table [value]="product.order_detalles" dataKey="id">
                <ng-template #header>
        <tr>
          <th>Nro</th>
          <th>Item</th>
          <th>Qt</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
      </ng-template>
      <ng-template #body let-order let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ order.insumo?.nombreCompleto }}</td>
          <td>{{ order.cantidad }}</td>
          <td>{{ order.precio | txtsigno: "$" }}</td>
          <td>{{ order.total | txtsigno: "$" }}</td>
        </tr>
      </ng-template>
      <ng-template #emptymessage>
        <tr>
          <td colspan="6">There are no order for this product yet.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  </td>
  </tr>
  </ng-template>
  </p-table>

</div>
</div>
