<p-table
  [value]="items"
  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[10, 20, 50]"
  [responsiveLayout]="'scroll'"
  sortMode="multiple"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords}"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="invoice_id">
        ID <p-sortIcon field="invoice_id"></p-sortIcon>
      </th>
      <th pSortableColumn="invoice_date">
        Date <p-sortIcon field="invoice_date"></p-sortIcon>
      </th>
      <th pSortableColumn="invoice_vendor_description">
        Vendor <p-sortIcon field="invoice_vendor_description"></p-sortIcon>
      </th>
      <th pSortableColumn="category_id">
        Category <p-sortIcon field="category_id"></p-sortIcon>
      </th>
      <th pSortableColumn="invoice_amount" class="text-end">
        Amount <p-sortIcon field="invoice_amount"></p-sortIcon>
      </th>
      <th>Notes</th>
      <th pSortableColumn="location_id">
        Location <p-sortIcon field="location_id"></p-sortIcon>
      </th>
      <th style="width: 140px">User</th>
      <th style="width: 140px">Actions</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{ item.invoice_id }}</td>
      <td>{{ item.invoice_date }}</td>
      <td>{{ item.invoice_vendor_description }}</td>
      <td>{{ item.category?.category_code }}</td>
      <td class="text-end">{{ item.invoice_amount }}</td>
      <td>{{ item.invoice_notes || "-" }}</td>
      <td>{{ item.locations?.location_name }}</td>
      <td>{{ item.created_user.user_name }}</td>
      <td class="text-end">
        <button
          pButton
          type="button"
          icon="pi pi-pencil"
          class="p-button-text p-button-sm"
          (click)="onEdit(item)"
        ></button>

        <button
          pButton
          type="button"
          icon="pi pi-trash"
          class="p-button-text p-button-danger p-button-sm"
          (click)="onRemove(item)"
        ></button>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8" class="text-center py-4">No hay invoices</td>
    </tr>
  </ng-template>
</p-table>
