/* estilos base */
:host ::ng-deep .p-datatable th,
:host ::ng-deep .p-datatable td {
  padding: 14px 16px;
  vertical-align: middle;
  white-space: nowrap;
}

/* ========================= */
/* 📱 MOBILE (≤ 576px) */
/* ========================= */
@media (max-width: 576px) {

  /* ocultamos columnas */
  .col-date,
  .col-category,
  .col-notes,
  .col-location,
  .col-user,
  .col-actions,
  .col-id {
    display: none;
  }

  .col-vendor {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .col-amount {
    font-weight: 700;
  }
}
