<div class="container-fluid py-3 px-0" style="width: 100%;">

  <div class="col-12">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <div class="page">
        <h2 class="title">Purchase Order Management</h2>
        <p class="subtitle">Create and manage purchase orders, including suppliers, products, quantities, and expected
          costs before finalizing purchases.</p>
      </div>

      <button class="btn btn-primary" (click)="openCreate()">Add New Order Purchase</button>
    </div>
  </div>


  <div class="row g-3 mb-4 bg-white pb-1">

    <!-- Date range -->
    <div class="col-12 col-md-3">
      <label class="filter-label d-block mb-1">
        <i class="pi pi-calendar"></i> Date Range
      </label>

      <p-datepicker [(ngModel)]="dateRange" selectionMode="range" dateFormat="dd/mm/yy" [showIcon]="true"
        [readonlyInput]="true" class="w-100" (ngModelChange)="onLocationsChangeDate($event)">
      </p-datepicker>


    </div>

    <div class="col-12 col-md-3">
      <label class="filter-label d-block mb-1">
        <i class="pi pi-calendar"></i> Supply
      </label>

      <p-multiSelect [options]="insumos" [(ngModel)]="selectedInsumos" optionLabel="nombreCompleto"
        placeholder="Select Supply" display="chip" class="w-100" (onChange)="onSupplyChange($event)">
      </p-multiSelect>

    </div>

    <div class="col-12 col-md-3">
      <label class="filter-label d-block mb-1">
        <i class="pi pi-calendar"></i> Supplier
      </label>

      <p-multiSelect [options]="proveedores" [(ngModel)]="selectedProveedor" optionLabel="nombre"
        placeholder="Select Supplier" display="chip" class="w-100" (onChange)="onSupplyChange($event)">
      </p-multiSelect>

    </div>

  </div>

  <div class="mb-4">
    <div class="text-muted small">

      <div class="small">
        {{ formattedDateRange }}
      </div>

      <div>
        <ng-container *ngIf="selectedInsumos && selectedInsumos.length; else noneSelected">
          {{ selectedInsumosNames }}
        </ng-container>
        <ng-template #noneSelected>
          None
        </ng-template>
      </div>

      <ng-container *ngIf="selectedProveedor && selectedProveedor.length; else noneSelected1">
        {{ selectedProveedorNames }}
      </ng-container>
      <ng-template #noneSelected1>
        None
      </ng-template>


    </div>
  </div>


  <app-purchase-order-upd-ins *ngIf="showAddLocationModal" (close)="closeModal()"
    (submit)="handleSubmitOrder($event)"></app-purchase-order-upd-ins>

  <app-purchase-order-list (delete)="delete($event)" (complete)="complete($event)"  [compraDetalle]="compraDetalle"></app-purchase-order-list>

  <app-purchase-order-confirmation *ngIf="showConfirmanModal"
    [txtDetail]="txtDetail" [txtSummary]="txtSummary" (close)="closeModalConfirm()"></app-purchase-order-confirmation>


</div>

<app-purchase-upd-ins *ngIf="showAddPurchaseModal" (close)="closeModalPurchaseAdd()"
  (submit)="handleSubmit($event)"></app-purchase-upd-ins>

<app-purchase-confirmation *ngIf="showConfirmanPurchaseModal" [recetas_impactadas]="recetas_impactadas"
  [txtDetail]="txtDetail" [txtSummary]="txtSummary" (close)="closeModalPurchaseConfirm()"></app-purchase-confirmation>
