<div class="row g-3 mb-4 bg-white">
  <div class="card">
    <p-tabView>
      <p-tabPanel header="Purchase List">
        <p-table [value]="compraDetalle" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50]"
          [responsiveLayout]="'stack'" breakpoint="768px" sortMode="multiple" [showCurrentPageReport]="true"
          currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords}" styleClass="p-datatable-sm">
          <!-- Header -->
          <ng-template pTemplate="header">
            <tr>
              <th>Id</th>
              <th>Reference Id</th>
              <th>Date</th>
              <th>items</th>
              <th>Total</th>
              <th>User</th>
              <th>Notes</th>
              <th class="col-actions"></th>
            </tr>
          </ng-template>

          <!-- Body -->
          <ng-template pTemplate="body" let-row>
            <tr>
              <td class="col-date">{{ row.compra_id }}</td>

              <td>
                {{ row.compra.referencia_id || "---" }}
              </td>

              <td>
                {{ row.compra.fecha }}
              </td>

              <td> {{ row.insumo.nombreCompleto }} </td>

              <td>
                {{ row.total | txtsigno: "$" }}
              </td>

              <td>
                {{ row.compra.created_user?.user_name }}
                {{ row.compra.created_user?.user_apellido }}
              </td>

              <td>
                {{ row.compra.detalle || "---" }}
              </td>

              <td class="col-actions text-end">
                <!--  <button class="btn btn-sm btn-secondary m-1" (click)="toggleRow(row.compra_id)">
                  Details
                </button>
           <button class="btn btn-sm btn-danger m-1" (click)="onEdit(item)">
            Edit
          </button> -->
                <button class="btn btn-sm btn-danger m-1" (click)="onDelete(row)">
                  Delete
                </button>
              </td>
            </tr>

          </ng-template>

          <!-- Empty -->
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="6" class="text-center text-muted py-4">
                No records found
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
