/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";

/* Layout base para páginas */
.page-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Contenedor central */
.page-container {
  width: 100%;
  max-width: 1320px; // desktop grande
  padding: 2rem 2.5rem;
}

@media (max-width: 992px) {
  .page-container {
    padding: 1.5rem;
  }
}

@media (max-width: 576px) {
  .page-container {
    padding: 1rem;
  }
}

