.page {
  background: #f8f9fb;
  min-height: auto; // ✅ en vez de 100%
  padding-bottom: 1rem; // opcional: para que respire
  margin-bottom: 1rem; // ✅ separa del siguiente componente sin huecos raros
}

/* ===== Titles ===== */
.title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 4px;
  color: #1f2937;
}

.subtitle {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 20px;
}


/* FILA COMPLETA */
.row-bajo {
  background-color: #fff1f0; /* rojo suave */
}

.row-ok {
  background-color: #f6ffed; /* verde suave */
}

/* BADGES (más visual 🔥) */
.badge {
  padding: 4px 10px;
  border-radius: 12px;
  font-weight: 600;
  color: white;
}

.badge-bajo {
  background-color: #ff4d4f;
}

.badge-ok {
  background-color: #52c41a;
}
