.page {
  background: #f8f9fb;
  min-height: auto; // ✅ en vez de 100%
  padding-bottom: 1rem; // opcional: para que respire
  margin-bottom: 1rem; // ✅ separa del siguiente componente sin huecos raros
}

/* ===== Titles ===== */
.title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 4px;
  color: #1f2937;
}

.subtitle {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 20px;
}

.card-stock {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* HEADER */
.card-header {
  padding: 10px;
  font-weight: 600;
  color: white;
}

/* BODY */
.card-body {
  padding: 12px;
}

/* STOCK BAJO */
.stock-bajo .card-header {
  background: #ff4d4f;
}

.stock-bajo .card-body {
  background: white;
}

/* STOCK OK */
.stock-ok .card-header {
  background: #52c41a;
}

.stock-ok .card-body {
  background: white;
}
