<table class="table align-middle">
  <thead class="table-light">
    <tr>
      <th>Location</th>
      <th>Sales Target</th>
      <th>Food %</th>
      <th>Labor %</th>
      <th>Prime %</th>
      <th>Net Margin %</th>
      <th>AOV</th>
      <th class="text-end">Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of goals">

      <td>{{ item.locations.location_name }}</td>
      <td>{{ item.goal_target_sales }}</td>
      <td>{{ item.goal_food_cost }}</td>
      <td>{{ item.goal_labor_cost }}</td>
      <td>{{ item.goal_food_cost + item.goal_labor_cost }}</td>
      <td>{{ item.goal_net_margin }}</td>
      <td>{{ item.goal_target_AOV }}</td>

      <td class="text-end">
        <button class="btn btn-sm btn-danger m-1" (click)="onEdit(item)">
          Edit
        </button>
        <button class="btn btn-sm btn-primary m-1" (click)="onDelete(item)">
          Delete
        </button>
      </td>
    </tr>

    <tr *ngIf="!goals.length">
      <td colspan="12" class="text-center text-muted py-4">
        No goals set for this period for the selected location.<br>
        Click 'Add Goal' to set targets or switch to 'All Locations' to see all goals.
      </td>
    </tr>
  </tbody>
</table>
