<div class="container-fluid py-3 px-0" style="width: 100%;">

  <div class="col-12">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <div class="page">
        <h2 class="title">Cash Flow Management</h2>
        <p class="subtitle"> Track and manage daily cash movements, including income, expenses, deposits, and balances
        </p>

      </div>

      <button class="btn btn-primary" (click)="openCreate()">New Cash Entry</button>
    </div>
  </div>


  <div class="row g-3 mb-4 bg-white pb-1">

    <!-- Date range -->
    <div class="col-12 col-md-3">
      <label class="filter-label d-block mb-1">
        <i class="pi pi-calendar"></i> Date Range
      </label>

      <p-datepicker [(ngModel)]="dateRange" selectionMode="range" dateFormat="dd/mm/yy" [showIcon]="true"
        [readonlyInput]="true" class="w-100" (ngModelChange)="onLocationsChangeDate($event)">
      </p-datepicker>


    </div>

    <div class="col-12 col-md-3">
      <label class="filter-label d-block mb-1">
        <i class="pi pi-map-marker"></i> Locations
      </label>

      <p-multiSelect [options]="locations" [(ngModel)]="selectedLocations" optionLabel="location_name"
        placeholder="Select locations" display="chip" class="w-100" (onChange)="onLocationChange($event)">
      </p-multiSelect>

    </div>


  </div>

  <div class="mb-4">
    <div class="text-muted small">

      <div class="small">
        {{ formattedDateRange }}
      </div>

      <div>
        <ng-container *ngIf="selectedLocations.length; else noneSelected">
          {{ selectedLocationsNames }}
        </ng-container>
        <ng-template #noneSelected>
          None
        </ng-template>
      </div>


    </div>
  </div>


  <app-cashflow-list [movimientos]="movimientos"></app-cashflow-list>


  <div class="col-12">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <div class="page">
        <h2 class="title">Cash Flow Linga</h2>
      </div>
    </div>
  </div>

  <app-cashflow-list-linga [movimientosLinga]="movimientosLinga"></app-cashflow-list-linga>

</div>
