<div class="app-shell">
  <!-- Sidebar -->
  <aside class="sidebar" [class.open]="menuOpen">
    <app-menu></app-menu>
  </aside>

  <!-- Overlay mobile -->
  <div class="overlay" *ngIf="menuOpen" (click)="toggleMenu()"></div>

  <!-- Main -->
  <main class="app-content">
    <header class="app-header">

      <p-button icon="pi pi-bars" class="p-button-text d-md-none" (onClick)="toggleMenu()">
      </p-button>
    </header>

    <div class="page-wrapper">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
